---
http_interactions:
- request:
    method: propfind
    uri: https://webdav.yandex.ru/other2
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><propfind xmlns="DAV:"></propfind>
    headers:
      Authorization:
      - OAuth <TOKEN>
      Depth:
      - '1'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Yandex-Cloud-Request-Id:
      - dav-7a1b38705b52ab4040e1f82f172e5dea-y4ptz64yp5f254bm
      Yandex-Uid:
      - '1259373998'
    body:
      encoding: ASCII-8BIT
      base64_string: ''
  recorded_at: Sat, 27 Aug 2022 09:33:39 GMT
[...]
- request:
    method: put
    uri: https://webdav.yandex.ru/other2/36894942206a2a4eeb5015938089a066720bd919f27.gpx
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8' standalone='yes' ?>\r\n<gpx version=\"1.1\"
        creator=\"OsmAnd~\" xmlns=\"http://www.topografix.com/GPX/1/1\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.topografix.com/GPX/1/1 http://www.topografix.com/GPX/1/1/gpx.xsd\">\r\n
        \ <metadata>\r\n    <name>2019-03-10_11-30_Sun</name>\r\n  </metadata>\r\n
        \ <trk>\r\n    <trkseg>\r\n      <trkpt lat=\"59.4117847\" lon=\"56.8471187\">\r\n
        \       <ele>0</ele>\r\n        <time>2019-03-10T06:30:05Z</time>\r\n        <hdop>23.648</hdop>\r\n
        \     </trkpt>\r\n      <trkpt lat=\"59.4117847\" lon=\"56.8471187\">\r\n
        \       <ele>0</ele>\r\n        <time>2019-03-10T06:30:05Z</time>\r\n        <hdop>23.648</hdop>\r\n
        \     </trkpt>\r\n      <trkpt lat=\"59.4123483\" lon=\"56.8449433\">\r\n
        \       <ele>144</ele>\r\n        <time>2019-03-10T06:30:05Z</time>\r\n        <hdop>7.9</hdop>\r\n
        \       <extensions>\r\n          <speed>9.722</speed>\r\n        </extensions>\r\n
        \     </trkpt>\r\n      <trkpt lat=\"59.41238\" lon=\"56.8447833\">\r\n        <ele>161.2</ele>\r\n
        \       <time>2019-03-10T06:30:06Z</time>\r\n        <hdop>7.7</hdop>\r\n
        \       <extensions>\r\n          <speed>10.617</speed>\r\n        </extensions>\r\n
        \     </trkpt>\r\n      <trkpt lat=\"59.412425\" lon=\"56.84466\">\r\n        <ele>157.9</ele>\r\n
        \       <time>2019-03-10T06:30:07Z</time>\r\n        <hdop>[...]
