---
http_interactions:
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/upload?overwrite=true&path=/other_dev/test.mp4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-7c9b16b07d303f4a963a07e875a44517-api10e
    body:
      encoding: UTF-8
      string: '{"operation_id":"d9d8dcda72e3a65537772b7b88371fa225e0ec89f808cce5db76d1b881cd9226","href":"https://uploader24j.disk.yandex.net:443/upload-target/zozo","method":"PUT","templated":false}'
  recorded_at: Sat, 18 Dec 2021 22:11:57 GMT
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/upload?overwrite=true&path=/other_dev/test.mp4.jpg
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-5e479efcd7cde37bf7040990a3aec53a-api23v
    body:
      encoding: UTF-8
      string: '{"operation_id":"92c1414191510a286f0f305a1275e1035e7d19c0a4149f84f5f923a73008afdb","href":"https://uploader30j.disk.yandex.net:443/upload-target/zozo","method":"PUT","templated":false}'
  recorded_at: Sat, 18 Dec 2021 22:11:58 GMT
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/upload?overwrite=true&path=/other_dev/test.preview.mp4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-32c8dac187d8c33cfde3aa1dad906e3d-api25h
    body:
      encoding: UTF-8
      string: '{"operation_id":"296c02620f613aa7b7fffc2ee948bb6f8a294c1fa999e389b1f164e989ae81a6","href":"https://uploader22g.disk.yandex.net:443/upload-target/zozo","method":"PUT","templated":false}'
  recorded_at: Sat, 18 Dec 2021 22:11:58 GMT
recorded_with: VCR 6.0.0
