---
http_interactions:
- request:
    method: propfind
    uri: https://webdav.yandex.ru/other_test3
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><propfind xmlns="DAV:"></propfind>
    headers:
      Authorization:
      - OAuth <TOKEN>
      Depth:
      - '1'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Yandex-Cloud-Request-Id:
      - dav-4fbfbc32ec6af3620a8ab1e97ee43728-gpj5hkbmuqx43w5f
      Yandex-Uid:
      - '1259373998'
    body:
      encoding: ASCII-8BIT
      base64_string: ''
  recorded_at: Sat, 27 Aug 2022 10:16:58 GMT
[...]
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/upload?overwrite=true&path=/other_test3/test.mp4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-8d812e886ed7aefef699055beb3b3e2c-api25h
    body:
      encoding: UTF-8
      string: '{"operation_id":"3ee0393720166974256598e61929ac8242f9d7349fa6e366e79f84837f8f8846","href":"https://uploader26o.disk.yandex.net:443/upload-target/20220827T131659.274.utd.70fzc4jroe631o5l2of9ygd0w-k26o.14318884","method":"PUT","templated":false}'
  recorded_at: Sat, 27 Aug 2022 10:16:59 GMT
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/upload?overwrite=true&path=/other_test3/test.mp4.jpg
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-d281ea78ec8bd1a3bc3920011c3c426c-api34v
    body:
      encoding: UTF-8
      string: '{"operation_id":"e566b6e4325e8405fd8d0f2410a723d13991a8c3d78dbfb42fd8dce227a2431e","href":"https://uploader10o.disk.yandex.net:443/upload-target/20220827T131659.746.utd.8uiz8qvsscc95ll410rru1nqs-k10o.2218846","method":"PUT","templated":false}'
  recorded_at: Sat, 27 Aug 2022 10:16:59 GMT
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/upload?overwrite=true&path=/other_test3/test.preview.mp4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-f0b130644938c80fdfb1aa89b5efffeb-api07e
    body:
      encoding: UTF-8
      string: '{"operation_id":"85202d70ab946935e3045791b114a12306198f190c534119aca476ec59718d61","href":"https://uploader40o.disk.yandex.net:443/upload-target/20220827T131700.379.utd.wnpg6hiqm8noezyhp7f3dca-k40o.94771","method":"PUT","templated":false}'
  recorded_at: Sat, 27 Aug 2022 10:17:00 GMT
recorded_with: VCR 6.1.0
