---
http_interactions:
- request:
    method: propfind
    uri: https://webdav.yandex.ru/other_dev5
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><propfind xmlns="DAV:"></propfind>
    headers:
      Authorization:
      - OAuth <TOKEN>
      Depth:
      - '1'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Yandex-Cloud-Request-Id:
      - dav-03ca8aa086512ed375755730fd5c1412-y4ptz64yp5f254bm
      Yandex-Uid:
      - '1259373998'
    body:
      encoding: ASCII-8BIT
      base64_string: ''
  recorded_at: Sun, 28 Aug 2022 10:04:14 GMT
[...]
- request:
    method: post
    uri: https://cloud-api.yandex.net/v1/disk/resources/move?from=/12.mp4&overwrite=false&path=/other_dev5/test1.mp4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-ba3873558077f2a4a0f0349d3f1a96d8-api30e
    body:
      encoding: UTF-8
      string: '{"href":"https://cloud-api.yandex.net/v1/disk/resources?path=disk%3A%2Fother_dev5%2Ftest1.mp4","method":"GET","templated":false}'
  recorded_at: Sun, 28 Aug 2022 10:04:15 GMT
- request:
    method: propfind
    uri: https://webdav.yandex.ru/other_dev5
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><propfind xmlns="DAV:"></propfind>
    headers:
      Authorization:
      - OAuth <TOKEN>
      Depth:
      - '1'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Yandex-Cloud-Request-Id:
      - dav-86fc464da1badd2f76712f230da22bbb-v3w553tvczuwcuci
      Yandex-Uid:
      - '1259373998'
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><d:multistatus xmlns:d="DAV:"><d:response><d:href>/other_dev5/</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><d:creationdate>2022-08-28T10:04:14Z</d:creationdate><d:displayname>other_dev5</d:displayname><d:getlastmodified>Sun,
        28 Aug 2022 10:04:14 GMT</d:getlastmodified><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat></d:response><d:response><d:href>/other_dev5/test1.mp4</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><file_url>https://downloader.disk.yandex.ru/disk/6e2fb6a70b26b4d3b7526226e8ff600c51ae6ba14df493ed4a8be26e15a0d312/630b75e0/z09fMFiWn2Q0ke7F7_7a1-iRdiWxTMdWPopQ-5kuQoEMScrEMZf3fnFfoXLSpNq2PRWIHnLuk-ftMigRdGjq_w%3D%3D?uid=1259373998&amp;filename=test1.mp4&amp;disposition=attachment&amp;hash=&amp;limit=0&amp;content_type=video%2Fmp4&amp;owner_uid=1259373998&amp;fsize=54336364&amp;hid=4302a8276309a400a25a3af74fb30cf3&amp;media_type=video&amp;tknv=v2&amp;etag=1f21fcc757293c2df4cdb6485f9885ea</file_url><d:getetag>1f21fcc757293c2df4cdb6485f9885ea</d:getetag><d:creationdate>2022-08-28T09:58:54Z</d:creationdate><mulca_file_url>320.yadisk:1259373998.E7192699:4010379654159624202558817082811</mulca_file_url><d:displayname>test1.mp4</d:displayname><d:getlastmodified>Sun,
        28 Aug 2022 10:04:15 GMT</d:getlastmodified><d:getcontenttype>video/mp4</d:getcontenttype><d:getcontentlength>54336364</d:getcontentlength><mulca_digest_url>320.yadisk:1259373998.E6141272:401037965490580317260148708794</mulca_digest_url><d:resourcetype/></d:prop></d:propstat></d:response></d:multistatus>
  recorded_at: Sun, 28 Aug 2022 10:04:16 GMT
recorded_with: VCR 6.1.0
