---
http_interactions:
- request:
    method: propfind
    uri: https://webdav.yandex.ru/other_dev5
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><propfind xmlns="DAV:"></propfind>
    headers:
      Authorization:
      - OAuth <TOKEN>
      Depth:
      - '1'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Yandex-Cloud-Request-Id:
      - dav-ba33eb9eaf3e308369c7f25de008d71d-6r7h7ej6flkrm3ek
      Yandex-Uid:
      - '1259373998'
    body:
      encoding: ASCII-8BIT
      base64_string: ''
  recorded_at: Sun, 11 Sep 2022 10:47:08 GMT
[...]
- request:
    method: move
    uri: https://webdav.yandex.ru/12.mp4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
      Destination:
      - "/other_dev5/test1.mp4"
      Overwrite:
      - F
  response:
    status:
      code: 201
      message: Created
    headers:
      Yandex-Cloud-Request-Id:
      - dav-6d6eda99ad968f505acc4843213ad49f-ndb2u3gohtcbai52
      Yandex-Uid:
      - '1259373998'
    body:
      encoding: ASCII-8BIT
      base64_string: ''
  recorded_at: Sun, 11 Sep 2022 10:47:10 GMT
- request:
    method: propfind
    uri: https://webdav.yandex.ru/other_dev5
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><propfind xmlns="DAV:"></propfind>
    headers:
      Authorization:
      - OAuth <TOKEN>
      Depth:
      - '1'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Yandex-Cloud-Request-Id:
      - dav-ab61a85350831a6fae549ebf7597952e-ggtwjz5ylbzsuvug
      Yandex-Uid:
      - '1259373998'
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><d:multistatus xmlns:d="DAV:"><d:response><d:href>/other_dev5/</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><d:creationdate>2022-09-11T10:47:09Z</d:creationdate><d:displayname>other_dev5</d:displayname><d:getlastmodified>Sun,
        11 Sep 2022 10:47:09 GMT</d:getlastmodified><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat></d:response><d:response><d:href>/other_dev5/test1.mp4</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><file_url>https://downloader.disk.yandex.ru/disk/0bfaa9505020d3a1ee566ad21234db53377e454873daca02db7c14ade3afdd7d/631df4ef/z09fMFiWn2Q0ke7F7_7a1_wMbJVCjFCT5tA0M8GW8h0_KclFgRUSVAL3l4emrUpiCAKUFeDZccAT6BGTno-SQg%3D%3D?uid=1259373998&amp;filename=test1.mp4&amp;disposition=attachment&amp;hash=&amp;limit=0&amp;content_type=video%2Fmp4&amp;owner_uid=1259373998&amp;fsize=38886573&amp;hid=cabeaa96f24e9aef908d99377a66acfa&amp;media_type=video&amp;tknv=v2&amp;etag=b2a65edf12b4a667c6c47cc4c3367b4d</file_url><d:getetag>b2a65edf12b4a667c6c47cc4c3367b4d</d:getetag><d:creationdate>2022-09-11T10:46:06Z</d:creationdate><mulca_file_url>320.yadisk:1259373998.E7373595:4016535540187657782446663375173</mulca_file_url><d:displayname>test1.mp4</d:displayname><d:getlastmodified>Sun,
        11 Sep 2022 10:47:10 GMT</d:getlastmodified><d:getcontenttype>video/mp4</d:getcontenttype><d:getcontentlength>38886573</d:getcontentlength><mulca_digest_url>320.yadisk:1259373998.E7495744:4016535540190526590231135406406</mulca_digest_url><d:resourcetype/></d:prop></d:propstat></d:response></d:multistatus>
  recorded_at: Sun, 11 Sep 2022 10:47:11 GMT
recorded_with: VCR 6.1.0
