---
http_interactions:
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/upload?overwrite=true&path=/other_dev/test.mp4.jpg
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-69094079f1b1742a484e9e94aed8ce73-api30v
    body:
      encoding: UTF-8
      string: '{"operation_id":"298d55e2425d2e5e8b83496282815d88fd7328bcd77ef73e51c4dc6ad71ebbb6","href":"https://uploader4j.disk.yandex.net:443/upload-target/zozo","method":"PUT","templated":false}'
  recorded_at: Sat, 18 Dec 2021 22:11:59 GMT
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/upload?overwrite=true&path=/other_dev/test.preview.mp4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-a8ab1aed8f1a8164ed8456737f093a8a-api28h
    body:
      encoding: UTF-8
      string: '{"operation_id":"0a0be8962e836f8ca05beeca3f9bdf1832a3380e0b21cfd63104da8daf46263e","href":"https://uploader4o.disk.yandex.net:443/zozo","method":"PUT","templated":false}'
  recorded_at: Sat, 18 Dec 2021 22:11:59 GMT
recorded_with: VCR 6.0.0
