---
http_interactions:
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/upload?overwrite=true&path=/other_dev/test.mp4.jpg
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-04317025a18a0e873df7f951ea7a50de-api07v
    body:
      encoding: UTF-8
      string: '{"operation_id":"28a255bb0c03c48fd240cbbbbee3a0f9ff00ec28e96e508eccc0c950abc7fd53","href":"https://uploader30g.disk.yandex.net:443/upload-target/zozo2","method":"PUT","templated":false}'
  recorded_at: Sat, 11 Dec 2021 22:46:24 GMT
recorded_with: VCR 6.0.0
