---
http_interactions:
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/upload?overwrite=true&path=/other_dev/test.mp4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-d262bc2b343308048e2cb37be3a34a0a-api08f
    body:
      encoding: UTF-8
      string: '{"operation_id":"a256ebaa59291d5efa5491b83edc6c17d36adea0430f68a43e9bb4a5aa20b7e3","href":"https://uploader13j.disk.yandex.net:443/upload-target/zozo","method":"PUT","templated":false}'
  recorded_at: Mon, 06 Dec 2021 21:56:30 GMT
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/upload?overwrite=true&path=/other_dev/test.mp4.jpg
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-0090961f6430aba698f118205d8d28ba-api01f
    body:
      encoding: UTF-8
      string: '{"operation_id":"379691092593beccd2b771e6b521037ecbcad78ee50353e43526e652d484cfc6","href":"https://uploader21o.disk.yandex.net:443/upload-target/zozo1","method":"PUT","templated":false}'
  recorded_at: Mon, 06 Dec 2021 21:56:32 GMT
recorded_with: VCR 6.0.0
