---
http_interactions:
- request:
    method: propfind
    uri: https://webdav.yandex.ru/other_test
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><propfind xmlns="DAV:"></propfind>
    headers:
      Authorization:
      - OAuth <TOKEN>
      Depth:
      - '1'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Yandex-Cloud-Request-Id:
      - dav-b39969d22008bedda027dc9ed6041a37-matatip5gfu5s4u2
      Yandex-Uid:
      - '1259373998'
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><d:multistatus xmlns:d="DAV:"><d:response><d:href>/other_test/</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><d:creationdate>2022-08-27T10:14:11Z</d:creationdate><d:displayname>other_test</d:displayname><d:getlastmodified>Sat,
        27 Aug 2022 10:14:11 GMT</d:getlastmodified><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat></d:response></d:multistatus>
  recorded_at: Sat, 27 Aug 2022 10:14:13 GMT
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/upload?overwrite=true&path=/other_test/test.mp4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-4d0bcf76fd567f30f6725e832a7c52ae-api39e
    body:
      encoding: UTF-8
      string: '{"operation_id":"d3b2fa3692a641a0a077b2cf03d212bfbdac4d80e91c28ccd5533dc2aff496ca","href":"https://uploader40j.disk.yandex.net:443/upload-target/20220827T131413.588.utd.d2rlbegq2ldv1ow78hzpvcoww-k40j.13310301","method":"PUT","templated":false}'
  recorded_at: Sat, 27 Aug 2022 10:14:13 GMT
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/upload?overwrite=true&path=/other_test/test.mp4.jpg
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-5a888bc5a0644740acca4f81e3e7327a-api14h
    body:
      encoding: UTF-8
      string: '{"operation_id":"90c0395a689d7c42cbda963044185e5e8b007be250929a47ab53e984195869ce","href":"https://uploader8v.disk.yandex.net:443/upload-target/20220827T131414.202.utd.1lm7nxut6xn9rbu0cg5569j1c-k8v.14964392","method":"PUT","templated":false}'
  recorded_at: Sat, 27 Aug 2022 10:14:14 GMT
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/upload?overwrite=true&path=/other_test/test.preview.mp4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-ebc0f0443276f3a437ca0e17ad3be0e4-api06f
    body:
      encoding: UTF-8
      string: '{"operation_id":"7641983ba44af5965c28503d2625012c740c99ca1761274b5acc9091a70c1cc0","href":"https://uploader29g.disk.yandex.net:443/upload-target/20220827T131414.720.utd.57qin0j42lg8n2hgl1lqpy4e1-k29g.13871129","method":"PUT","templated":false}'
  recorded_at: Sat, 27 Aug 2022 10:14:14 GMT
recorded_with: VCR 6.1.0
