---
http_interactions:
- request:
    method: propfind
    uri: https://webdav.yandex.ru/other_dev
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><propfind xmlns="DAV:"></propfind>
    headers:
      Authorization:
      - OAuth <TOKEN>
      Depth:
      - '1'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Yandex-Cloud-Request-Id:
      - dav-5d014b6c6b7b62b79f99d9e981c7b586-v3w553tvczuwcuci
      Yandex-Uid:
      - '1259373998'
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><d:multistatus xmlns:d="DAV:"><d:response><d:href>/other_dev/</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><d:creationdate>2021-12-18T21:14:46Z</d:creationdate><d:displayname>other_dev</d:displayname><d:getlastmodified>Sat,
        18 Dec 2021 21:14:46 GMT</d:getlastmodified><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat></d:response><d:response><d:href>/other_dev/video4fbae93516ef627ee23a5269cb9277932e48e2c3.mp4</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><file_url>https://downloader.disk.yandex.ru/disk/202632ee9eece44be992ba886e34234519ebcfdf88958a8f3c4d66075aa2983d/630b761e/z09fMFiWn2Q0ke7F7_7a104qFFyykOlzIw1thKIGhgclnohtgU3f9PvxOjp65ImQ_evcwuL1Av1qq6UAF7klrg%3D%3D?uid=1259373998&amp;filename=video4fbae93516ef627ee23a5269cb9277932e48e2c3.mp4&amp;disposition=attachment&amp;hash=&amp;limit=0&amp;content_type=video%2Fmp4&amp;owner_uid=1259373998&amp;fsize=60518940&amp;hid=1d3a9c278e702c9346d134e51f4e1905&amp;media_type=video&amp;tknv=v2&amp;etag=4c863a1f2f92740565a0bf0919598893</file_url><d:getetag>4c863a1f2f92740565a0bf0919598893</d:getetag><d:creationdate>2021-12-18T23:14:42Z</d:creationdate><mulca_file_url>320.yadisk:1259373998.E6045487:3574016957109298870555304389732</mulca_file_url><d:displayname>video4fbae93516ef627ee23a5269cb9277932e48e2c3.mp4</d:displayname><d:getlastmodified>Sat,
        18 Dec 2021 23:14:42 GMT</d:getlastmodified><d:getcontenttype>video/mp4</d:getcontenttype><d:getcontentlength>60518940</d:getcontentlength><mulca_digest_url>320.yadisk:1259373998.E5500406:3574016957164087605721625308285</mulca_digest_url><d:resourcetype/></d:prop></d:propstat></d:response><d:response><d:href>/other_dev/video4fbae93516ef627ee23a5269cb9277932e48e2c3.mp4.jpg</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><file_url>https://downloader.disk.yandex.ru/disk/2e7062e1f027e14a9b2ec459e915a644587bcfed8d95b52f6d11683486f63d8b/630b761e/z09fMFiWn2Q0ke7F7_7a1zS3oyuLv2df6hUIKMqAFusW64VCE-QKQdsoh_elTHsZDa-bpSyNx-T9rEQBJLJJFA%[...]
- request:
    method: post
    uri: https://cloud-api.yandex.net/v1/disk/resources/move?from=/13.mp4&overwrite=false&path=/other_dev/test1.mp4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Yandex-Cloud-Request-Id:
      - rest-06477a2d3982f1c0d69cca5b15ccd942-api36h
    body:
      encoding: UTF-8
      string: '{"message":"Не удалось найти запрошенный ресурс.","description":"Resource
        not found.","error":"DiskNotFoundError"}'
  recorded_at: Sun, 28 Aug 2022 10:05:19 GMT
recorded_with: VCR 6.1.0
