---
http_interactions:
- request:
    method: delete
    uri: https://webdav.yandex.ru/1/test.mp4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Yandex-Cloud-Request-Id:
      - dav-3dcbf11d9c25d56595f44ba3dfa3d374-ctjositmu354ume7
      Yandex-Uid:
      - '1259373998'
    body:
      encoding: ASCII-8BIT
      base64_string: ''
  recorded_at: Sun, 12 Dec 2021 04:40:08 GMT
- request:
    method: propfind
    uri: https://webdav.yandex.ru/1/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><propfind xmlns="DAV:"></propfind>
    headers:
      Authorization:
      - OAuth <TOKEN>
      Depth:
      - '1'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Yandex-Cloud-Request-Id:
      - dav-f7350ba996a63f2847a028968249bef7-lrfkg2nsohtkyuin
      Yandex-Uid:
      - '1259373998'
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><d:multistatus xmlns:d="DAV:"><d:response><d:href>/1/</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><d:creationdate>2021-12-12T04:39:06Z</d:creationdate><d:displayname>1</d:displayname><d:getlastmodified>Sun,
        12 Dec 2021 04:39:06 GMT</d:getlastmodified><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat></d:response></d:multistatus>
  recorded_at: Sun, 12 Dec 2021 04:40:09 GMT
recorded_with: VCR 6.0.0
