---
http_interactions:
- request:
    method: propfind
    uri: https://webdav.yandex.ru/other_dev
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><propfind xmlns="DAV:"></propfind>
    headers:
      Authorization:
      - OAuth <TOKEN>
      Depth:
      - '1'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Yandex-Cloud-Request-Id:
      - dav-ca7b55c9f3b90e8ac89726921e01b5e6-vgbea6xsbapxi7dv
      Yandex-Uid:
      - '1259373998'
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><d:multistatus xmlns:d="DAV:"><d:response><d:href>/other_dev/</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><d:creationdate>2020-12-14T06:22:04Z</d:creationdate><d:displayname>other_dev</d:displayname><d:getlastmodified>Mon,
        14 Dec 2020 06:22:04 GMT</d:getlastmodified><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat></d:response><d:response><d:href>/other_dev/69853337f2a537d654b3f062af5ff939ea6d6a6358c.gpx</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><file_url>https://downloader.disk.yandex.ru/disk/c881f1f521441345fdd5ef798f9823c349f7ff14ae62d83b1cabef67294ed047/61aae3d0/fKqInKw3d7bLFOeFnMGnhHghqCwlwr4MTJxTTxQ7RZ20LgvohK5vl7dsaCUMD4u58UWY0nb-Si8kZmcbQ0Z6QGJ4dxpTTFkgn5VlhaRhnv6r8npumZHI4midPdWhecNq?uid=1259373998&amp;filename=69853337f2a537d654b3f062af5ff939ea6d6a6358c.gpx&amp;disposition=attachment&amp;hash=&amp;limit=0&amp;content_type=text%2Fxml&amp;owner_uid=1259373998&amp;fsize=5985588&amp;hid=e30d94f1ea1632bdf4cc146c4b5d9885&amp;media_type=data&amp;tknv=v2&amp;etag=c8740b29d009bcc106733d0387e070b8</file_url><d:getetag>c8740b29d009bcc106733d0387e070b8</d:getetag><d:creationdate>2021-02-14T12:21:20Z</d:creationdate><mulca_file_url>320.yadisk:1130000042725705.E1866279:401617607573576180231384602871</mulca_file_url><d:displayname>69853337f2a537d654b3f062af5ff939ea6d6a6358c.gpx</d:displayname><d:getlastmodified>Sun,
        14 Feb 2021 12:21:20 GMT</d:getlastmodified><d:getcontenttype>text/xml</d:getcontenttype><d:getcontentlength>5985588</d:getcontentlength><mulca_digest_url>320.yadisk:1130000042725705.E2996982:401617607570976401040612727031</mulca_digest_url><d:resourcetype/></d:prop></d:propstat></d:response><d:response><d:href>/other_dev/6999074555a5624c001a8c20a3ff3e76a663b8070f0.gpx</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><file_url>https://downloader.disk.yandex.ru/disk/f502d37cc4d6ab76f026aa989a265d8ace5f9fb675ccf862c6099d751327e8f2/61aae3d0/fKqInKw3d7bLFOeFnMGnhHeVb8t8Sk3h1Z3eTXcpylkmei4fDlL30WZN4mhJOu6uadD7SN88PWtQEIoXWXch8nOu[...]
