---
http_interactions:
- request:
    method: propfind
    uri: https://webdav.yandex.ru/other_dev1
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><propfind xmlns="DAV:"></propfind>
    headers:
      Authorization:
      - OAuth <TOKEN>
      Depth:
      - '1'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Yandex-Cloud-Request-Id:
      - dav-4c2bf848cd0f7e10171bd14ea613e40e-peye4yeanckx73qr
      Yandex-Uid:
      - '1259373998'
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><d:multistatus xmlns:d="DAV:"><d:response><d:href>/other_dev1/</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><d:creationdate>2022-08-27T18:25:46Z</d:creationdate><d:displayname>other_dev1</d:displayname><d:getlastmodified>Sat,
        27 Aug 2022 18:25:46 GMT</d:getlastmodified><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat></d:response><d:response><d:href>/other_dev1/701ba1d236be9567ffc391f48c1d6830e2b5619fbb2.gpx</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><file_url>https://downloader.disk.yandex.ru/disk/e57803b776d26a6ea90886a12a94b767ca72b4c319e3b35b1efa999802f84795/630b91ba/bQYF5KJYwlrybN-ap6-2WUwmXQWquffY9VCfGya0__Ht-ZUmxDgUJTOskaA3gX5z_N7PGPaL-XhZZcRzNXdXQQ%3D%3D?uid=1259373998&amp;filename=701ba1d236be9567ffc391f48c1d6830e2b5619fbb2.gpx&amp;disposition=attachment&amp;hash=&amp;limit=0&amp;content_type=text%2Fxml&amp;owner_uid=1259373998&amp;fsize=453651&amp;hid=2bfb10f346b57193ca8d3c446e9226f9&amp;media_type=data&amp;tknv=v2&amp;etag=e831e882e09f099ad02f3cf8f7862454</file_url><d:getetag>e831e882e09f099ad02f3cf8f7862454</d:getetag><d:creationdate>2022-08-27T18:30:21Z</d:creationdate><mulca_file_url>320.yadisk:1440290995.E5314636:3524676665207727330454869281687</mulca_file_url><d:displayname>701ba1d236be9567ffc391f48c1d6830e2b5619fbb2.gpx</d:displayname><d:getlastmodified>Sat,
        27 Aug 2022 18:30:21 GMT</d:getlastmodified><d:getcontenttype>text/xml</d:getcontenttype><d:getcontentlength>453651</d:getcontentlength><mulca_digest_url>320.yadisk:1440290995.E5387433:3524676665133345007560812217239</mulca_digest_url><d:resourcetype/></d:prop></d:propstat></d:response><d:response><d:href>/other_dev1/video49c1b012f21f77490971fc170b036dbbbf9c457c.mp4</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><file_url>https://downloader.disk.yandex.ru/disk/ad2f85459234fbaf8c9aefbb7d19892450cd514e66506ddad156250965e64d10/630b91ba/z09fMFiWn2Q0ke7F7_7a1-iRdiWxTMdWPopQ-5kuQoEMScrEMZf3fnFfoXLSpNq2PRWIHnLuk-ftMigRdGjq_w%3D%[...]
