---
http_interactions:
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/download?path=/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-4637705a8aacb6ee7b350817b30845ac-api12v
    body:
      encoding: UTF-8
      string: '{"href":"https://downloader.disk.yandex.ru/zip/67be958ba3e5779028c3d6e31809ee0d2e17a6f2aacd4a31aeb6f05cecebafc1/5e2b5ff4/L2Rpc2svdGVzdA==?uid=1130000019982670&filename=test.zip&disposition=attachment&hash=&limit=0&owner_uid=1130000019982670&tknv=v2","method":"GET","templated":false}'
  recorded_at: Fri, 24 Jan 2020 21:19:56 GMT
recorded_with: VCR 5.0.0
