---
http_interactions:
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/download?path=/other
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-b1d5601e618673d067738ca4298016b6-api03v
    body:
      encoding: UTF-8
      string: '{"href":"https://downloader.disk.yandex.ru/zip/c595697aa288e140d61b019097fc1d294391e1db33ffc7dd3091eb0633a9c9ff/5e2b61b7/L2Rpc2svb3RoZXI=?uid=1130000019982670&filename=other.zip&disposition=attachment&hash=&limit=0&owner_uid=1130000019982670&tknv=v2","method":"GET","templated":false}'
  recorded_at: Fri, 24 Jan 2020 21:27:28 GMT
recorded_with: VCR 5.0.0
