---
http_interactions:
- request:
    method: propfind
    uri: https://webdav.yandex.ru/photos_dev1/000/002/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><propfind xmlns="DAV:"></propfind>
    headers:
      Authorization:
      - OAuth <TOKEN>
      Depth:
      - '1'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Yandex-Cloud-Request-Id:
      - dav-ecac402349f9e934dbc9d5e96b19ec9f-55uv6orwabvuix2u
      Yandex-Uid:
      - '1259373998'
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><d:multistatus xmlns:d="DAV:"><d:response><d:href>/photos_dev1/000/002/</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><d:creationdate>2022-08-27T11:19:46Z</d:creationdate><d:displayname>002</d:displayname><d:getlastmodified>Sat,
        27 Aug 2022 11:19:46 GMT</d:getlastmodified><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat></d:response><d:response><d:href>/photos_dev1/000/002/1447d9f01a2e115584cf14012598f5127267056671b0.jpg</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><file_url>https://downloader.disk.yandex.ru/disk/6879a43b8b910e5ab1a2a3b82b29a61df469c07cf5d871569ff25ed050e728be/630b8bbd/z09fMFiWn2Q0ke7F7_7a11rt1T3tO6pBWYTYK6C1tHm7R2J6SxSyBPgWFVVbCiMpk-ai5ArNp90GMQLMnReX6g%3D%3D?uid=1259373998&amp;filename=1447d9f01a2e115584cf14012598f5127267056671b0.jpg&amp;disposition=attachment&amp;hash=&amp;limit=0&amp;content_type=image%2Fjpeg&amp;owner_uid=1259373998&amp;fsize=8045765&amp;hid=34bbb9966a10889a003522cdb9a9809a&amp;media_type=image&amp;tknv=v2&amp;etag=2ccaae012e1ca67a61beb6f36797fd93</file_url><d:getetag>2ccaae012e1ca67a61beb6f36797fd93</d:getetag><d:creationdate>2022-08-27T11:19:47Z</d:creationdate><mulca_file_url>320.yadisk:1259373998.E7100405:86588525879274322530560613160</mulca_file_url><d:displayname>1447d9f01a2e115584cf14012598f5127267056671b0.jpg</d:displayname><d:getlastmodified>Sat,
        27 Aug 2022 11:19:47 GMT</d:getlastmodified><d:getcontenttype>image/jpeg</d:getcontenttype><d:getcontentlength>8045765</d:getcontentlength><mulca_digest_url>320.yadisk:1259373998.E5737244:86588525825078798343335414568</mulca_digest_url><d:resourcetype/></d:prop></d:propstat></d:response></d:multistatus>
  recorded_at: Sun, 28 Aug 2022 11:37:33 GMT
recorded_with: VCR 6.1.0
