default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: db
  username: postgres
  database: photos

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
