[Unit]
Description=Yandex Disk proxy for PhotoStorage
After=network.target

[Service]
Type=simple

User=photos
Group=photos

WorkingDirectory=/home/photos/
ExecStart=/home/photos/yandex_proxy -user=photos -db_host=/var/run/postgresql/ -host=photostorage.localhost -secret=secret
Restart=always

[Install]
WantedBy=multi-user.target
