//*= require font-awesome
//*= require_tree ./admin

@import 'bootstrap'
@import 'sufee'

#right-panel
  position: relative

  #menuToggle
    position: absolute
    top: 0.5rem
    left: 2.2rem
    z-index: 10

#left-panel
  .navbar .navbar-nav > .active > a
    color: white !important
    font-weight: 600

.table-scroll
  overflow-x: auto

.table .thead-dark tr th
  border-color: inherit
