//*= require jquery.dm-uploader
//*= require font-awesome
//*= require_tree ./admin

@import 'bootstrap'
@import 'sufee'

#right-panel
  position: relative

  #menuToggle
    position: absolute
    top: 0.5rem
    left: 2.2rem
    z-index: 10

#left-panel
  .navbar .navbar-nav > .active > a
    color: white !important
    font-weight: 600

.table-scroll
  overflow-x: auto

.table .thead-dark tr th
  border-color: inherit

.action-buttons > .btn
  margin-right: 0.125rem
  margin-bottom: 0.125rem

.switch.switch-text
  width: 64px !important

.switch.switch-text .switch-input:checked ~ .switch-handle
  left: 42px

.switch-label:before
  width: 60% !important

.alert ul
  list-style: none
  margin: 0

table
  td, th
    padding: 0.5rem 0.75rem !important
  tbody
    font-size: 14px

    a.btn-sm
      padding: 0.25rem
      font-size: 0.75rem
      line-height: 1
