//*= require leaflet
//*= require_tree ./application

$panel_color: #f9f9f9

html, body
  margin: 0
  font-family: 'Ubuntu', sans-serif
  height: 100%

// page index

.photos
  flex-flow: row wrap
  display: -webkit-box
  display: flex
  justify-content: center

  .photo
    margin: 0 0.25rem 0.25rem 0
    cursor: pointer
    position: relative
    overflow: hidden

    img
      object-fit: cover

    .photo-name
      position: absolute
      bottom: 0
      display: flex
      padding: 0.6rem
      align-items: center
      background: rgba(0,0,0,0.4)
      width: 100%
      font-size: 16px
      color: white
      box-sizing: border-box

      > span
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis

// photo show

.photo-content
  display: flex
  align-items: center
  flex-direction: column
  margin-right: 300px

.photo-header
  justify-content: center
  width: 100%
  display: flex

  ul
    list-style: none
    padding: 0
    margin: 1rem 0
    display: flex
    font-size: 18px

    li
      &:not(:last-child):after
        content: '\\'
        margin-right: 0.25rem
        font-size: 14px

.sidebar
  background: $panel_color
  width: 300px
  position: fixed
  height: 100%
  right: 0
  top: 0
  box-shadow: rgba(0, 0, 0, 0.16) 0 2px 5px 0, rgba(0, 0, 0, 0.12) 0 2px 10px 0
  box-sizing: border-box
  padding: 1rem
  overflow-y: auto
  font-size: 14px
  z-index: 1

  #map
    height: 300px
    margin-bottom: 1rem

  table
    width: 100%

    td, th
      white-space: nowrap
      text-align: left
      font-weight: normal
    th
      padding-right: 0.5rem
    td
      color: gray

  .photo-description
    word-break: break-all
