.page-map-content
  margin-bottom: 2rem
  display: none

  #map
    height: 500px

.photo-popup
  margin-top: 1.5rem

#loader
  height: 2rem
  overflow: hidden
  line-height: 60px

.admin-link
  position: absolute
  right: 0.5rem
  top: 0.25rem

@media (max-width: 992px)
  body
    .admin-link
      display: none
